#pane {
    -fx-background-color: #5d6063;
}

#drawWin {
    -fx-text-fill: #fff;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

#playerOne, #playerTwo {
    -fx-text-fill: #fff;
    -fx-font-size: 18px;
}

#playerOneScore, #drawScore, #playerTwoScore {
    -fx-font-size: 22px;
    -fx-text-fill: #19c409;
    -fx-font-weighth: bold;
}

#button1, #button2, #button3, #button4, #button5, #button6, #button7, #button8, #button9 {
    -fx-font-size: 18px;
    -fx-min-width: 120px;
    -fx-padding: 0, 10px 0 10x;
    -fx-border-insets: 5px;
    -fx-border: none;

}

#button1:hover, #button2:hover, #button3:hover, #button4:hover,
#button5:hover, #button6:hover, #button7:hover, #button8:hover, #button9:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #389b11;
}

#playerTurn {
    -fx-text-fill: red;
    -fx-font-size: 16px;
}

#reMatch {
    -fx-min-width: 38px;
    -fx-max-height: 30px;
    -fx-background-image: url("/image/reload.png");
    -fx-background-size: 35 25;
    -fx-background-repeat: no-repeat;
}

#newGame {
    -fx-min-width: 38px;
    -fx-max-height: 30px;
    -fx-background-image: url("/image/addnew.png");
    -fx-background-size: 35 25;
    -fx-background-repeat: no-repeat;
}

#endGame {
    -fx-min-width: 38px;
    -fx-max-height: 30px;
    -fx-background-image: url("/image/poweroff.png");
    -fx-background-size: 35 24;
    -fx-background-repeat: no-repeat;
}
